{% extends "base.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Список сеансов</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1, h2, h3 {
            text-align: center;
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center; text-transform: uppercase;">{{title}}</h1>
    {% for session in sessions %}
        <div style="border: 1px solid green; border-radius: 10px; max-width: 70%; padding: 10px 10px 20px; text-align: center; margin: 0 auto 20px;">

             <div style="display: flex; justify-content: center; align-items: stretch; gap: 20px; flex-wrap: wrap; ">
                 <div>
                    <h3 style="color: blue;"><strong>Кинотеатр:</strong> {{ session.cinema.name }}</h3>

                    {% if session.cinema.image %}
                        <div><img style="max-width: 250px;" src="{{ session.cinema.image.url }}" alt="Cinema Image"></div>
                    {% else %}
                        <p>Изображение кинотеатра отсутствует.</p>
                    {% endif %}
                 </div>
                 <div>
                    <h3 style="color: green;"><strong>Фильм:</strong> {{ session.title }}</h3>

                    {% if session.poster %}
                        <div><img style="max-width: 200px;" src="{{ session.poster.url }}" alt="Poster Image"></div>
                    {% else %}
                        <p>Изображение кинотеатра отсутствует.</p>
                    {% endif %}
                 </div>
            </div>
            <p style="color: orange;"><strong>Время сеанса:</strong> {{ session.date_time|date:"d.m.Y H:i" }}</p>

            <!-- Здесь используем новый метод available_seats -->
            <p><strong>Свободных мест:</strong> {{ session.available_seats }}</p>
            <p><strong>Всего мест:</strong> {{ session.total_seats }}</p>

            <!-- Проверка доступна ли бронь -->
            {% if session.available_seats > 0 %}
                <a style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer;
                         border-radius: 5px; text-decoration: none; text-transform: uppercase;"
                   href="{% url 'booking:book_seats' pk=session.id %}">Забронировать билеты</a>
            {% else %}
                <span style="border: 1px solid red; padding: 10px 75px; text-align: center; border-radius: 5px; color: red; font-weight: bold;">Нет билетов</span>
            {% endif %}
        </div>
    {% empty %}
        <div style="border: 1px solid green; padding: 10px 10px; text-align: center;">Нет доступных сеансов.</div>
    {% endfor %}
</body>

{% endblock %}
