{% extends "base.html" %}

{% block content %}

    <head>
        <meta charset="UTF-8">
        <title>Информация!</title>
        <style>
            label {display: inline-block; width: 150px; font-weight: bold;}
        </style>
    </head>
    <body>
        <div style="border: 1px solid green; border-radius: 10px; max-width: 70%; padding: 10px 10px; text-align: center; margin: 0 auto 20px;">
                <h1>Информируем </h1>
            <p>Уважаемый пользователь {{ user.username }}! </br>
               Поздравляем Вас!</br>
               Вы успешно забронировали билеты!</p>

             {% if tickets %}
            <h2>Ваши билеты:</h2>

                {% for ticket in tickets %}
                    <p>{{ ticket }}</p>
                {% endfor %}

            {% else %}
                <p>Вы ещё не купили ни одного билета.</p>
            {% endif %}


        </div>
    </body>

{% endblock %}